In [1]:
import pandas as pd

In [5]:
shootings = pd.read_csv("../input/fatal-police-shootings-data.csv")

In [6]:
shootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [7]:
shootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5338 entries, 0 to 5337
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5338 non-null   int64
 1   name                     5338 non-null   object
 2   date                     5338 non-null   object
 3   manner_of_death          5338 non-null   object
 4   armed                    5098 non-null   object
 5   age                      5089 non-null   float64
 6   gender                   5336 non-null   object
 7   race                     4731 non-null   object
 8   city                     5338 non-null   object
 9   state                    5338 non-null   object
 10  signs_of_mental_illness  5338 non-null   bool
 11  threat_level             5338 non-null   object
 12  flee                     5088 non-null   object
 13  body_camera              5338 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 511.0+ KB

In [18]:
shootings.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                      240
age                        249
gender                       2
race                       607
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                       250
body_camera                  0
dtype: int64

In [19]:
shootings["armed"].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', nan, 'shovel',
       'hammer', 'hatchet', 'undetermined', 'sword', 'machete',
       'box cutter', 'metal object', 'screwdriver', 'lawn mower blade',
       'flagpole', 'guns and explosives', 'cordless drill', 'crossbow',
       'metal pole', 'Taser', 'metal pipe', 'metal hand tool',
       'blunt object', 'metal stick', 'sharp object', 'meat cleaver',
       'carjack', 'chain', "contractor's level", 'unknown weapon',
       'stapler', 'beer bottle', 'bean-bag gun',
       'baseball bat and fireplace poker', 'straight edge razor',
       'gun and knife', 'ax', 'brick', 'baseball bat', 'hand torch',
       'chain saw', 'garden tool', 'scissors', 'pole', 'pick-axe',
       'flashlight', 'baton', 'spear', 'chair', 'pitchfork',
       'hatchet and gun', 'rock', 'piece of wood', 'bayonet', 'pipe',
       'glass shard', 'motorcycle', 'pepper spray', 'metal rake',
       'crowbar', 'oar', 'machete and gun', 'tire iron',
       'air conditioner', 'pole and knife', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'vehicle', 'pellet gun', 'claimed to be armed', 'BB gun',
       'incendiary device', 'samurai sword', 'bow and arrow',
       'gun and vehicle', 'vehicle and gun', 'wrench', 'walking stick',
       'barstool', 'BB gun and vehicle', 'wasp spray', 'air pistol',
       'Airsoft pistol', 'baseball bat and knife', 'vehicle and machete',
       'ice pick', 'car, knife and mace'], dtype=object)

In [20]:
shootings["armed"].value_counts()

gun               2997
knife              780
unarmed            318
undetermined       221
toy weapon         177
                  ...
bow and arrow        1
wasp spray           1
walking stick        1
nail gun             1
Airsoft pistol       1
Name: armed, Length: 92, dtype: int64

In [22]:
shootings["date"]

0       2015-01-02
1       2015-01-02
2       2015-01-03
3       2015-01-04
4       2015-01-04
           ...
5333    2020-05-20
5334    2020-05-24
5335    2020-05-25
5336    2020-05-25
5337    2020-05-26
Name: date, Length: 5338, dtype: object